*{
    padding:0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/banner.png) center/cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:150px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 1.2rem;
    letter-spacing: 0.5;
}
.text-box h1{
    font-size: 4rem;
}
.text-box p{
    margin: 40px 0;
    font-size: 1rem;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5S;
}
.hero-btn:hover{
    transform: scale(1.1);
    background-color:#f44336 ;
}
nav .fw{
    display: none;
}

@media (max-width:760px) {
    .text-box h1{
        font-size: 1.5rem;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fw{
        display: inline-block;
        color: #fff;
        margin: 10px;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

/* course css*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:80px;
}
.course h1{
    font-size: 2rem;
    font-weight: 600;
}
.course p{
    color: #777;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding: 10px;
}
.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.row p{
    text-align: justify;
}
.row h3{
    margin: 10px 0;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
@media (max-width:760px) {
    .row{
        flex-direction: column;
    }
}

/* campus css */
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:80px;
}
.campus h1{
    font-size: 2rem;
    font-weight: 600;

}
.campus p{
    color: #777;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding: 10px;
}
.campus-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
}
.campus-col .layer{
    background:transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer h3{
    color: transparent;
    position: absolute;
    bottom: 0;
    left: 36%;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer:hover h3{
    color: white;
    position: absolute;
    bottom: 49%;
    transition: 0.5s;
}

/* facilities css */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:80px;
}
.facilities h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.facilities p{
    color: #777;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding: 10px 30px 30px 30px;
}
.facilities-col h3{
    padding:10px 30px 0 30px;
    text-align: left;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.facilities-col img{
    width: 100%;
}

/* Testimonials css */
.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:80px;
}
.testimonials h1{
    margin-bottom: 10px;
}
.testimonials>p{
    padding: 10px 30px 30px 30px;
}
.testimonials .row{
    display: flex;
}
.testimonial-col{
    display: flex;
    flex-basis: 44%;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    border-radius: 2%;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    color: #777;
    font-size: .9rem;
}
.fa-star{
    color:  #f44336;
    margin-top: 10px;
}

/* Call to action css */
.cta{
    width: 80%;
    margin:100px auto;
    text-align: center;
    padding:100px 0;
    border-radius: 10px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/banner2.jpg) center/cover;
}
.cta h1{
    font-size: 2rem;
    letter-spacing: .08rem;
    color: #fff;
    padding: 0;
    margin-bottom: 40px;
}
@media (max-width:760px) {
    .cta h1{
        font-size: 1.5rem;
    }
}

/* Footer css */
.footer{
    width: 100%;
    text-align: center;
    padding:30px 0;
    background: #fff3f3;
}
.footer h3{
    margin:20px 0 25px;
    font-weight: 600;
}
.footer p{
    color: #777;
    padding: 0 30px;
}
.icons .fab{
    color: #f44336;
    font-size: 1.5rem;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* copyright css */
.copyright{
    background: #fff3f3;
    text-align: center;
    font-weight: 600;
}

/* about page css */
.sub-header{
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,30,9,0.7)),url(img/background.jpg) center/cover;
}
.sub-header h1{
    text-align: center;
    color: #fff;
    padding-top: 100px;
}
.about-us{
    width: 80%;
    margin:auto;
    padding:50px 0 50px ;
}
.about-col{
    flex-basis: 46%;
    padding:30px 2px;
}
.about-col h1{
    font-size: 2rem;
}
.about-col p{
    color: #777;
    font-size: 0.9rem;
    margin: 10px 0;
    line-height: 1.2rem;
}
.about-col img{
    width: 100%;
}
.red-btn{
    border: 2px solid #f44336;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}

/* blog-content css */
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h3{
    margin: 30px 0;
}
.blog-left p{
    color: #777;
}
.blog-right{
    flex-basis: 33%;
}
.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
}
.blog-right div{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    background: #f0f0f0;
    outline:none;
}
